ol {
  margin-left: 38px;
}

table {
border-collapse: collapse;
empty-cells: hide;
}

td {
    border: 2px solid black;
    background-color: aqua;
    height: 55px;
}

li::marker,li
{
    content: "😀";
    font-size: 33px;
    cursor:crosshair;
}


/* h1::after{
    content: "😀";
}
h1::before{
    content: "😀";
} */